@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12" style="padding-right: 40px;">
        <h2>Getting started</h2>
        <br />
        <p>
            In our website, you can enjoy a variety of REVIEWS from all around the world
            And also share your personal REVIEWS with everyone and receive feedback and suggestions.
            Once logged in, click on "REVIEWS" on the top menu to begin!
        </p>
    </div>

</div>
